@import "./font.css";

* {
  word-break: keep-all;
}

a {
  text-decoration: none;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: 0.75rem;
  font-family: 'Cascadia Code', monospace;
}
