<!DOCTYPE html>
<html lang="en">
  <head>
    {%- include analytics.html -%}
    {% if page.math %}
      {%- include mathjax.html -%}
    {% endif %}
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    {%- include head.html -%}
  </head>
  <body>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        {%- include utterances.html -%}
      </div>
    </main>

    <footer>
      {%- include footer.html -%}
    </footer>
  </body>
</html>
